*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #540084;
    color: white;
}

h1{
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.todo-list{
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

.todo-list .add-task{
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.40);
    outline: none;
    border: 0;
    transition: background 0.4s;
}

.todo-list .add-task:hover,
.todo-list .add-task:focus{
    background-color: rgba(255, 255, 255, 1);
}

.todo-list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.todo-list ul li:last-child{
    border: 0;
}

.todo-list ul li i{
    cursor: pointer;
    font-size: 12px;
    opacity: 0.5;
    transition: opacity 0.4s;
}

.todo-list ul li i:hover{
    opacity: 1;
}

.elimina{
    text-decoration: line-through;
}

